.checkbox {
  position: relative;
  &-input {
    display: none;
    position: absolute;
  }
  &-label {
    padding-left: 29px;
    font-size: 1rem;
    &:before {
      content: "";
      display: block;
      box-sizing: border-box;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      position: absolute;
      background-color: #dadada;
      left: 0;
      top: -3px;
      z-index: 1;
    }
    &:after {
      content: "";
      display: block;
      box-sizing: border-box;
      border-radius: 5px;
      width: 24px;
      height: 24px;
      position: absolute;
      background: url("./check.svg") center center no-repeat;
      left: 0;
      top: -3px;
      opacity: 0;
      z-index: 2;
    }
  }
}

.checkbox-input:checked + .checkbox-label:before {
  background: #41bdee;
}
.checkbox-input:checked + .checkbox-label:after {
  opacity: 1;
}
