@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
@import "./variables";

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//components
//button

.btn {
  font-family: Montserrat, sans-serif;
  width: 222px;
  height: 55px;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;

  &-primary {
    border: none;
    background-color: $primary;
  }

  &-secondary {
    border: 3px solid $primary;
    background-color: #fff;
    margin-right: 36px;
  }

  &-reject {
    border: none;
    background-color: $reject;
    margin-right: 36px;
  }
}

//main
.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

//step3

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 27px 0 12px;
}
span.showAll {
  display: block;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  color: #979797;
  cursor: pointer;
}

.executors {
  display: flex;
}
.recommendations {
  margin-right: 5px;
}

.card {
  max-width: 380px;
  height: 100px;
  padding: 10px;
  border: 1px solid $reject;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  &-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-photo {
    border-radius: 50%;
  }
  &-info {
    margin: 15px;
    font-weight: 600;
    &-title {
      font-size: 18px;
      line-height: 22px;
    }
    &-details {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.insurance {
  margin-top: 56px;
  font-size: 16px;
  font-weight: 300;
}

.rules {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 75px 0;
}

//step4

.delivery {
  margin: 40px 0;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.address {
  margin: 40px 0;
}

.mapLink {
  cursor: pointer;
  text-decoration: underline;
  color: #1771e6;
  font-size: 13px;
  line-height: 16px;
}

.comment {
  p {
    color: #808080;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
  }
  &-area {
    width: 100%;
    height: 135px;
    border-radius: 5px;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
  }
}

.amount {
  margin: 20px 0;
  p {
    margin: 34px 0;
    &.comission {
      margin: 26px 26px 34px;
    }
  }
  &-label {
    margin: 10px 30px 10px 0;
  }
  &-input {
    border: 1px solid #bdbdbd;
    color: #000000;
    border-radius: 6px;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 13px;
    width: 350px;
    box-sizing: border-box;
  }
  &-total {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #333333;
  }
}

.map img {
  width: 100%;
}

.confirm {
  &-header {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    margin: 23px 0;
  }
  &-section1 {
    display: flex;
    justify-content: space-between;
  }
  &-revisor {
    background-color: #f5f5f6;
    border-radius: 8px;
    padding: 12px;
    flex-grow: 1;
    margin-right: 37px;
    p {
      margin: 0;
    }
    span {
      color: #79818c;
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-section2 {
    background: #ffffff;
    box-shadow: 3.85366px 0px 23.122px rgba(0, 0, 0, 0.12);
    border-radius: 3.85366px;
    padding: 18px 27px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .date,
    .time {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
      span {
        margin-left: 10px;
      }
    }
    .date {
      margin-right: 60px;
    }
  }
  &-section3 {
    background: #ffffff;
    box-shadow: 3.85366px 0px 23.122px rgba(0, 0, 0, 0.12);
    border-radius: 3.85366px;
    padding: 18px 27px;
    &-step {
      margin: 20px 0 0 -20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fixtime {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #333333;
        .fixseconds {
          color: rgba(51, 51, 51, 0.5);
        }
      }
    }
    .place {
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
      }
      &-address {
        span {
          color: #979797;
        }
      }
    }
    .confirm-btn {
      display: flex;
      justify-content: flex-end;
    }
    .checking {
      margin-left: -20px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
    }
    .descr {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.87);
    }
    .photos {
      &-line {
        display: flex;
        justify-content: space-around;
        margin-bottom: 36px;
      }

      &-loader {
        width: 100px;
        height: 100px;

        background: #ecf1f7;
        border-radius: 13.9792px;
      }
    }
  }
}

.disput {
  max-width: 568px;
  margin: 0 auto;
  &-select {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e3e6e9;
    box-sizing: border-box;
  }
  &-comment {
    margin-top: 20px;
    padding: 10px 16px;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    background: #ecf1f7;
    box-sizing: border-box;
  }
  &-submit {
    text-align: right;
    margin-top: 20px;
  }
}
